@{
  Layout = "_Layout";
}

@model TraderJoes.Models.Cart;

<h2>Shopping List</h2>

@if(@Model.JoinProdCart.Count == 0)
{
  <p>Your List is Empty</p>
}
else
{
  <h4>List:</h4>
  <ul>
  @foreach(var join in Model.JoinProdCart)
  {
    <li>@join.Product.Description</li>
  }
  </ul>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>