@{
  Layout = "_Layout";
}

  <h1>TRADER JOES XD</h1>
  <p>@Html.ActionLink("See all departments", "Index", "Departments")</p>
  <p>@Html.ActionLink("See all products", "Index", "Products")</p>
  <p>@Html.ActionLink("Shopping List", "Details", "Carts", new {id = 1})</p>



