@{
  Layout = "_Layout";
}

@using Template.Models;
@model List<Template.Models.PlaceHolder>;

<h1>PlaceHolders</h1>

<ul>
  @foreach(PlaceHolder placeHolder in Model)
  {
    <li>@Html.ActionLink($"{placeHolder.Name}", "Details", new { id = placeHolder.PlaceHolderId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new placeHolder", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>